<%= render 'standard/show_parent' if @parent_instance %>
<h2><%= @model.name %></h2>
<%= render 'standard/instance', instance: @instance, remote: @remote %>

<%= render 'standard/has_many_assocs',  remote: @remote unless @parent_instance %>
<%= link_to 'Edit', [:edit, @parent_instance, @instance],  remote: @remote, class:  'btn btn-info'  %>
<%= link_to 'List', [@parent_instance, @model.collection_name],  remote: @remote, class:  'btn btn-info'  %>
<div id="flash_container" class="container">
	<%= render "standard/flash.html" %>
</div>
